/* Global styles */
html, body{
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden ! important;/**/
    margin: 0px !important;
    padding: 0px !important;
}

*{text-decoration: none !important;}

/*--------------------------------------------*/
/* start Header (navbar) */
.nav{
    position: fixed;
    z-index: 1000;/**/
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
    cursor: pointer;
}

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: color 0.2s ease;
}

.nav .links a:hover{color: #e0501b;}

.nav .links .main-link{color: #e0501b;}
/* End of Header (navbar) */
/*--------------------------------------------*/
/* start of landing page */
.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;/**/
    height: 100vh;
    overflow: hidden;
}

.landing-text h1{
    font-size: 6vw;
    margin: 0 !important;
}

.landing-text h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
}

.landing-text .btn{
    width: 120px;
    margin-top: 30px;
    font-size: 1.2vw;
    padding: 14px 20px;
    background-color: #2f8be0;
    color: #fff;
    border-radius: 45px;
    text-align: center;
    transition: background 0.3s ease;
}

.landing-text .btn:hover{background-color: #e0501b;}

.landing-text .btn a{font-size: 1.2vw;color: #fff;}

.landing-img img{width: 42vw;}
/* End of landing page */
/*---------------------------------------------------------*/
/* Start of About Section */
.about{
    height: 600px;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;/**/
    align-items: center;
}

.about-text{
    position: relative;
    padding: 0 50px;
    height: inherit;
}

.about-text h1{
    position: relative;
    left: 110px;
}

.about-text img{
    width: 20vh;
    position: absolute;
    top: 50px;
}

.about-list{width: 50%;}

ol{
    list-style: none;
    color: #e0501b;
}

ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

li p{
    font-size: 15px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}

li span{
    position: absolute;
    line-height: 25px;
    font-weight: 600;
}

/* End of About Section */
/*--------------------------------------------------------*/
/* Start of Info Section */
.info-section{height: 600px;}

.info-header{
    text-align: center;
    margin-bottom: 40px;
}

/* card styles */
.info-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.info-cards .card{
    position: relative;
    height: 360px;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

/* card img styles */
.info-cards .one .card-one-img{
    width: 180px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.info-cards .two .card-two-img{
    width: 158px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.info-cards .three .card-three-img{
    width: 180px;
    transform: rotateY(180deg);
    position: absolute;
    top: -50px;
    right: -30px;
}

/* card background styles*/
.card-bg-one{height: 150px;background-color: #ffce63;}
.card-bg-two{height: 150px;background-color: #a1cdff;}
.card-bg-three{height: 150px;background-color: #e0501b;}

/* card content styles*/
.card-content{padding: 0 20px;}
.card-content h2{font-weight: 600;}
.card-content p{line-height: 30px;opacity: 0.6;}

/* card btn styles */
.card-content .card-btn{
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.card-content .card-btn:hover{background-color: #2f8be0;}

.card-content .card-btn i{
    position: relative;
    top: 0px;
    left: 0px;
}
/* end of Info Section */
/*-----------------------------------------------------*/
/* Start of Banner */
.banner{
    height: 400px;
    background-color: #ffce63;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    flex-direction: row;
    align-items: center;
}

.banner-text h1{
    font-size: 3.3vw;
    color: #000;
    font-weight: 600;
}

.banner-text img{width: 14vw;margin-right: 20px;}

.banner-img img{width: 25vw;}
/* End of Banner */
/*----------------------------------------------------------*/
/* Start Footer */
.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footer-links a{
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: color 0.2s ease;
}

.footer-links a:hover{color: #e0501b;}

.footer-links .main-link{color: #e0501b;}
/* End Footer */
/*----------------------------------------------------------*/
/* Make it Responsive */
@media only screen and (max-width: 600px){

    /* Header (navbar) */
    .nav{
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow: hidden;
    }

    .nav h4{
        font-size: 6vw;
        margin: 10px 0 14px 0;
    }

    .nav .links a{
        margin-right: 25px;
        font-size: 12px;
        font-weight: 600;
    }

    /* landing page */
    .landing{
        flex-direction: column-reverse;
        height: 750px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .landing-text h1{
        font-size: 6vw;
        margin: 0 !important;
    }

    .landing h3{font-size: 16px;}

    .landing-text .btn{margin: 0 auto;}
    .landing-text .btn a{font-size: 3vw;}

    .landing-img img{
        width: 72vw;
        margin-bottom: 20px;
    }

    /* About */
    .about{
        height: auto;/*important*/
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text{padding: 0 50px;height: 100px;}

    .about-text h1{left: 40px;font-size: 5vw;}

    .about-text img{
        width: 16vw;
        top: 10px;
        left: -50px;
    }

    .about-list{width: 65%;}

    ol li{font-size: 26px;margin-bottom: 10px;}

    li p{font-size: 14px;padding-left: 50px;}

    /* Info Section */
    .info-section{height: auto;}

    .info-header{text-align: center;margin: 40px 0;}

    .info-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        text-align: center;
    }

    .info-cards .card{margin-bottom: 60px;}
    
    .info-cards .three .card-three-img{
        transform: rotateY(180deg);
    }

    /* Banner */
    .banner{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 50px;
        text-align: center;
    }

    .banner h1{font-size: 6vw;}

    .banner-inner-text{font-size: 3vw !important;}

    .banner-text img{width: 24vw;}

    .banner-img img{width: 35vw;}

    /* Footer */
    .footer{padding-bottom: 40px;}
}